{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h1>Transactions History</h1>
    <br>
    <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Symbol</th>
              <th scope="col">Shares</th>
              <th scope="col">Price</th>
              <th scope="col">Total</th>
              <th scope="col">Transacted</th>
            </tr>
          </thead>
          <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction["symbol"] }}</td>
                <td>{{ transaction["number_of_shares"] }}</td>
                <td>{{ transaction["price"] }}</td>
                <td>{{ transaction["total_price"] }}</td>
                <td>{{ transaction["time"] }}</td>
            </tr>
        {% endfor %}
          </tbody>
        </table>
    </div>
{% endblock %}