{% extends "auctions/layout.html" %}
{% load static %}
{% load my_filters %}
{% block body %}
    {% if message %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endif %}

    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}

    {% if winner %}
        <div class="alert alert-success" role="alert">
            {{ winner }}
        </div>
    {% endif %}
    <br>
    <div class="text-center auction-details">
        <h2>{{ listing.title }}</h2>
        <br>
        <img style="width: 100%; max-width: 25rem;" src="{{listing.image.url}}" class="img-fluid rounded">
        <br>
        <p style="font-size:24px; max-width:800px">{{ listing.description }}</p>
        <br>
        {% if listing.status %}
            <p class="badge-text badge badge-success">Active</p>
        {% else %}
            <p class="badge-text badge badge-danger">Closed</p>
        {% endif %}
        <br>
        <div class="text-left">
            <p>Category:&nbsp&nbsp{{ listing.category }}</p>
            <p>Initial price:&nbsp&nbsp{{ listing.initial_price|currency }}</p>
            <p>Number of bids:&nbsp&nbsp{{ listing.num_of_bids }}</p>
            <p>Last bid price:&nbsp&nbsp{{ listing.last_bid_price|currency }}</p>
        </div>
        <br>
        {% if listing.seller != user_obj %}
            {% if user.is_authenticated and listing.status %}
                <form action="{% url 'auctions:auction' auction_id=listing.id %}" method="post" id="bid_form">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group bid-spacing">
                            <div class="d-flex">
                                <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                                <input type="text" class="form-control" name="bid_price" id="bid_price" aria-label="Amount (to the nearest dollar)">
                            </div>
                            <button type="submit" form="bid_form" class="btn btn-dark">Place Bid</button>
                        </div>
                    </div>
                    <br>
                </form>
                {% if in_watchlist %}
                    <a href="{% url 'auctions:removefromwatchlist' auction_id=listing.id %}" class="btn btn-dark">Remove from Watchlist</a>
                {% else %}
                    <a href="{% url 'auctions:addtowatchlist' auction_id=listing.id %}" class="btn btn-dark">Add to Watchlist</a>
                {% endif %}
            {% endif %}
        {% else %}
            <form action="{% url 'auctions:close_auction' auction_id=listing.id%}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-dark">Close Auction</button>
            </form>
        {% endif %}
    </div>


    <hr class="hr-style">
    <br>
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 col-lg-6">
          <div class="card shadow-0 border" style="background-color: #f0f2f5;">
            <div class="card-body p-4">
              <div class="form-outline mb-4">
                {% if user.is_authenticated %}
                <form action="{% url 'auctions:add_comment' auction_id=listing.id %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="comment" id="comment" class="form-control" placeholder="Type comment..." />
                    <br>
                    <button type="submit" class="btn btn-dark">Send</button>
                </form>
                {% else %}
                    <a href="/login" class="btn btn-dark">Login to add comments</a>
                {% endif %}
              </div>
              {% for cm in comments %}
                <div class="card">
                    <div class="card-body">
                    <p>{{cm.comment}}</p>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                        <p class="small mb-0 ms-2">{{cm.commenter.username}}</p>
                        </div>
                    </div>
                    </div>
                </div>
                <br>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
{% endblock %}