{% extends "auctions/layout.html" %}
{% load static %}
{% load my_filters %}
{% block body %}
    {% if message %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endif %}
    <br>
    <h2>Active Auctions</h2>
    <br>
        {% for item in items %}
            {% if item.status %}
            <div class="align-center">
                <div class="card text-center mb-5" style="width: 50rem;">
                    <div class="card-header">{{item.category}}</div>
                    <div class="align-center">
                        <img src="{{item.image.url}}" class="card-img-top" alt="{{item.title}} image" style="width: 100%; max-width: 25rem;"/>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        {% if item.num_of_bids > 0 %}
                            <p class="card-text card-price">{{ item.last_bid_price|currency }}</strong></p>
                        {% else %}
                            <p class="card-text card-price">{{ item.initial_price|currency }}</strong></p>
                        {% endif %}
                        <a href="{% url 'auctions:auction' auction_id=item.id %}" class="btn btn-dark">Auction Page</a>
                    </div>
                    <div class="card-footer text-muted">{{item.created_date}}</div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
