<!DOCTYPE html>

<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
      rel="stylesheet"
    />
    <link href="/static/styles.css" rel="stylesheet" />
    <title>Birthdays</title>
  </head>
  <body>
    <div class="header">
      <h1>Birthdays</h1>
    </div>
    <div class="container">
      <div class="section">
        <h2>Add a Birthday</h2>
        <form action="/" method="post">
          <input
            type="text"
            required
            placeholder="Name"
            name="name"
            autocomplete="off"
          />
          <input
            type="number"
            required
            placeholder="Month"
            name="month"
            min="1"
            max="12"
          />
          <input
            type="number"
            required
            placeholder="Day"
            name="day"
            min="1"
            max="31"
          />
          <input type="submit" value="Add Birthday" />
        </form>
      </div>

      <div class="section">
        <h2>All Birthdays</h2>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Birthday</th>
            </tr>
          </thead>
          <tbody>
            {% for birthday in birthdays %}
            <tr>
              <td>{{ birthday["name"] }}</td>
              <td>{{ birthday["month"] }}/{{ birthday["day"] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
